/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

/* #unique{ */
/* div{ */
/* .chuuuuu */
/* h1 {*/
#unique{
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 -#unique
   #2 - div
   #3 - .chuuuuu
   #4 - h1 
   #5 - body

   e.g. - .pika               */